<!-- index.ejs -->

<html>
    <head>
        <title>Web Scraper</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <!-- include "css/style.css" -->
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <h1>Data from Web Scraper</h1>
        <div>
            <button onclick="AddProduct()">Add new</button>
            <input type="text" id="name" name="name" size="10" />
            <input type="url" id="url" name="url" size="10" />
        </div>
        <ul id="Container"></ul>
        <div id="data-container"></div>

        <!-- TEMP: ETAPE 4 attribution des variables via les données envoyées -->
        <script>
            const date = "<%= date %>";
            const product = "<%= product %>";
            const price = "<%= price %>";
        </script>
        <script src="scripts.js"></script>

        <!-- <script>
            const date = "<%= date %>";
            const product = "<%= product %>";
            const price = "<%= price %>";

            const container = document.getElementById("Container");
            const line = document.createElement("li");
            line.textContent = `Date: ${date}, Product: ${product}, Price: ${price}`;
            container.appendChild(line);
        </script> -->
    </body>
</html>
